<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Genre</th>
            <th>Initial release date</th>
            <th>Price</th>
            <th>Stock</th>
            <th></th>
            <th>Buy</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td><img width="150" [src]="game.image" [alt]="game.name"></td>
            <td>{{game.name}}</td>
            <td>{{game.genre}}</td>
            <td>{{game.date | date}}</td>
            <td>{{game.price | currency}}</td>
            <td><span class="badge bg-danger" *ngIf="game.stock==0;">No Stock </span></td>
            <td>
                <app-input-number [(quantity)]="game.quantity" [max]="game.stock" *ngIf="game.stock"></app-input-number>
            </td>
            <td *ngIf="game.stock!=0">
                <button class="bnt bnt-sm" (click)="addToShopList(game)">Buy</button>
            </td>
        </tr>
    </tbody>
</table>